
<div class="pt-11 md:pt-0  " >

  <div class="bg-[url('/assets/images/man.svg')] bg-secondColor  md:bg-center md:bg-contain bg-contain bg-no-repeat   
  flex items-center justify-center  h-[40vh] sm:h-[50vh]  md:h-[65vh] lg:h-[85vh]  ">
 
 <div class="  flex flex-col items-start w-[40%] md:w-auto md:items-start  ml-30 h-fit  md:ml-90   text-start gap-1 md:gap-3 md:mt-10 ">
 <h4 class="font-['Playfair_Display']  md:text-3xl md:mt-0 text-lg lg:text-4xl font-semibold  text-gray-900">Mens & Women</h4>
 <p class=" lg:text-xl md:text-md  text-sm    text-gray fontInter font-light ">
 Online Store Selling High-Quality Sportswear,<br>
 Supplements, Shoes, and Equipment.
 </p>
 <a href="#categories"><button class="bg-mainColor rounded-md md:px-9 md:py-2 px-4 py-[1px] md:text-2xl text-md  md:mt-6 mt-1 cursor-pointer  text-gray-900 fontInter  ">Shop Now</button></a>
 </div>
 
 </div>
 
</div>

