<section class="bg-white mt-0 text-white min-h-[150px] w-full">
    <h4 class="mt-0 pt-8 font-display text-black md:text-[50px] text-4xl font-medium text-center">Our Partners</h4>

    <div class="mx-auto px-4 sm:px-10 md:px-20 lg:px-40 mt-11 bg-mainColor h-24 w-full flex justify-center items-center gap-2 sm:gap-4">
        <div class="w-1/2 md:w-1/2 lg:w-1/5 flex justify-center"> 
            <img src="assets/icons/adidas.svg" class="h-10 md:h-12 lg:h-16 w-auto">
        </div>
        <div class="w-1/2 md:w-1/2 lg:w-1/5 flex justify-center"> 
            <img src="assets/icons/puma.svg" class="h-10 md:h-12 lg:h-16 w-auto scale-80">
        </div>
        <div class="w-1/2 md:w-1/2 lg:w-1/5 flex justify-center"> 
            <img src="assets/icons/nike.svg" class="h-10 md:h-12 lg:h-16 w-auto scale-70">
        </div>
        <div class="w-1/2 md:w-1/2 lg:w-1/5 flex justify-center"> 
            <img src="assets/icons/channel.svg" class="h-10 md:h-12 lg:h-16 w-auto scale-120">
        </div>
        <div class="w-1/2 md:w-1/2 lg:w-1/5 flex justify-center"> 
            <img src="assets/icons/DG.svg" class="h-10 md:h-12 lg:h-16 w-auto scale-120 ">
        </div>
    </div>
</section>
