@if (isLoading) {
  <div class="w-full h-96 flex items-center justify-center">
    <span class="loading loading-spinner loading-lg text-black"></span>
  </div>
}
@else if (orders[0]?.items?.length > 0) {
<div class="w-full px-4 sm:px-6 text-textColor">

  <!-- tracking number -->
  <div class="pb-4">
    <span class="font-display font-bold text-xl">Tracking No.:</span>
    <span class="font-inter font-bold text-gold">#{{ orders[0]?.orderNumber }}</span>
  </div>

  <hr class="w-full border border-gray-200">

  <!-- order status and user data -->
  <div class="flex flex-col lg:flex-row justify-between gap-8 lg:gap-0 my-5 font-display">
    
    <!-- left -->
    <div class="flex flex-col gap-4">
      <h2 class="font-inter text-base sm:text-lg">Your Order is in</h2>
      <span class="font-bold text-3xl sm:text-4xl text-gold">{{ orders[0]?.status }}</span>
      <p class="text-ternaryText font-inter text-sm sm:text-base">
        It was placed on {{ orders[0]?.updatedAt | date: 'medium' }}
      </p>
    </div>

    <!-- vertical divider -->
    <div class="hidden lg:block w-px h-auto bg-gray-300 mx-4"></div>

    <!-- right -->
    <div class="flex flex-col gap-3 text-sm sm:text-base">
      <div class="flex gap-2">
        <span class="font-bold">Name:</span>
        <span class="font-inter">{{ userData?.firstName }} {{ userData?.lastName }}</span>
      </div>
      <div class="flex gap-2">
        <span class="font-bold">Phone:</span>
        <span class="font-inter">{{ orders[0]?.shippingAddress.phone }}</span>
      </div>
      <div class="flex gap-2">
        <span class="font-bold">Address:</span>
        <span class="font-inter">{{ orders[0]?.shippingAddress.address }}, {{ orders[0]?.shippingAddress.country }}</span>
      </div>
      <div class="flex gap-2">
        <span class="font-bold">Email:</span>
        <span class="font-inter">{{ userData?.email }}</span>
      </div>
      <div class="flex gap-2">
        <span class="font-bold">Payment Method:</span>
        <span class="font-inter">{{ orders[0]?.paymentMethod }}</span>
      </div>
    </div>
  </div>

  <hr class="w-full border border-gray-200">

  <!-- order tracking steps -->
 <div class="my-10 flex flex-col gap-10">
  <span class="font-bold text-xl font-display">Order Tracking</span>
  <div class="flex justify-center items-center">
    <ul
      class="steps steps-vertical sm:steps-horizontal font-inter font-bold gap-y-2 sm:gap-y-4   md:steps-vertical lg:steps-horizontal lg:gap-x-0"
    >
      <li [ngClass]="getStepClass(orders[0].status, 'placed')">Order Placed</li>
      <li [ngClass]="getStepClass(orders[0].status, 'processing')">Processing</li>
      <li [ngClass]="getStepClass(orders[0].status, 'shipped')">Shipped</li>
      <li [ngClass]="getStepClass(orders[0].status, 'delivered')">Delivered</li>
    </ul>
  </div>
</div>


  <hr class="w-full border border-gray-200">

 <!-- item list -->
<div class="my-10 flex flex-col gap-6">
  <span class="font-bold text-xl font-display">Item List</span>
  <div class="overflow-x-auto rounded-box border border-base-content/4 bg-base-100 max-h-120">
    <table class="table w-full border-collapse text-xs sm:text-sm md:text-base">
      
      <!-- table head -->
      <thead class="bg-gray-100">
        <tr class="sticky top-0 bg-gray-100 z-10 text-xs sm:text-sm">
          <th class="px-2 sm:px-4 whitespace-nowrap">No.</th>
          <th class="px-2 sm:px-4 whitespace-nowrap">Item Image</th>
          <th class="px-2 sm:px-4 whitespace-nowrap">Item Name</th>
          <th class="px-2 sm:px-4 whitespace-nowrap">Base Price</th>
          <th class="px-2 sm:px-4 whitespace-nowrap">Size</th>
          <th class="px-2 sm:px-4 whitespace-nowrap">Quantity</th>
          <th class="px-2 sm:px-4 whitespace-nowrap">Total</th>
        </tr>
      </thead>

      <!-- table body -->
      <tbody>
        <tr *ngFor="let row of orders[0].items; let i = index" class="text-xs sm:text-sm">
          <th class="font-normal px-2 sm:px-4">{{ i + 1 }}</th>
          <td class="px-2 sm:px-4">
            <div class="mask mask-squircle h-10 w-10 sm:h-12 sm:w-12">
              <img [src]="row.product.imageUrl" alt="Product" />
            </div>
          </td>
          <td class="px-2 sm:px-4 whitespace-nowrap">  {{ row.product.name.slice(0, 20) }}{{ row.product.name.length > 20 ? '...' : '' }}</td>
          <td class="px-2 sm:px-4">$ {{ row.product.price }}</td>
          <td class="px-2 sm:px-4">{{ row.size || "--"}} </td>
          <td class="px-2 sm:px-4">{{ row.quantity }}</td>
          <td class="px-2 sm:px-4">$ {{ row.totalPriceItems }}</td>
        </tr>
      </tbody>

      <!-- table footer -->
      <tfoot class="bg-gray-100">
        <tr class="sticky bottom-0 bg-gray-100 z-10 text-xs sm:text-sm">
          <th class="px-2 sm:px-4">Total</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="px-2 sm:px-4">${{ userData?.orders?.[userData.orders.length - 1]?.totalPriceOrder }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
</div>
}
@else {
  <div class="w-full h-96 flex items-center justify-center px-4 text-center">
    <p class="text-center font-bold text-2xl sm:text-4xl text-secandaryText">
      No Orders to Track
    </p>
  </div>
}
