<div class=" m-auto w-[100%]">
  <!-- <app-home ></app-home>  -->
   
    <!-- <app-product-details></app-product-details> -->
 
  <!-- <app-check-out></app-check-out> -->
  <!-- <app-payment-page></app-payment-page> -->
  <!-- <app-confirm-payment></app-confirm-payment> -->

  <!-- <app-men></app-men> -->
   <!-- <app-women></app-women> -->
   <!-- <app-suplements></app-suplements> -->

  
  <!-- <app-signup-page></app-signup-page> -->
 <!-- <app-signin></app-signin> -->
 <!-- <app-fav></app-fav> -->
 
 <!-- <app-cart></app-cart> -->
<!-- <app-admin></app-admin> -->

 <router-outlet></router-outlet>

</div>