<section class="bg-secondColor md:mt-24 mt-15 text-white min-h-[450px] w-full">
    <!-- services -->
    <h1 class=" md:mt-6 md:pt-8 pt-4 font-display text-black md:text-[50px] text-4xl font-medium text-center">Services</h1>

    <div class="container mx-auto px-2 py-5 max-w-[1175px] md:mt-11 mt-5 ">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3 justify-center">
            <!-- Service 1 -->
            <div class="bg-white p-4 rounded-lg shadow-lg flex flex-col ">
                <img src="assets/icons/free_shipping.svg" class="w-16 h-16 ">
                <h3 class=" font-display text-black text-[20px] font-medium">Free Shipping</h3>
                <p class="fontInter text-gray mt-3 text-[15px]">
                    Provide free shipping anywhere as long as you spend more than 50$
                </p>
            </div>

            <!-- Service 2 -->
            <div class="bg-white p-4 rounded-lg shadow-lg flex flex-col ">
                <img src="assets/icons/money_back.svg" class="w-16 h-16 ">
                <h3 class=" font-display text-black text-[20px] font-medium">Money Back Guarantee</h3>
                <p class="fontInter text-gray mt-3 text-[15px]">
                    Provide 100% money back guarantee if you are not satisfied with our products
                </p>
            </div>

            <!-- Service 3 -->
            <div class="bg-white p-4 rounded-lg shadow-lg flex flex-col ">
                <img src="assets/icons/best_quality.svg" class="w-16 h-16 ">
                <h3 class=" font-display text-black text-[20px] font-medium">Best Quality Product</h3>
                <p class="fontInter text-gray mt-3 text-[15px]">
                    Provide 100% original products for our customers
                </p>
            </div>

            <!-- Service 4 -->
            <div class="bg-white p-4 rounded-lg shadow-lg flex flex-col ">
                <img src="assets/icons/new_arrival.svg" class="w-16 h-16 ">
                <h3 class=" font-display text-black text-[20px] font-medium">New Arrivals</h3>
                <p class="fontInter text-gray mt-3 text-[15px]">
                    Explore our latest products and collections
                </p>
            </div>
        </div>
    </div>
</section>